
/* background colour change */

body {
  background-color: #FDF6F6;
}


/* #region switches */

/* Switch starts here */
.rocker {
    display: inline-block;
    position: relative;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
  }
  
  .rocker-small {
    font-size: clamp(0.65em, 1.5vw, 0.8em); /* Sizes the switch */
    margin: 1em;
  }
  
  .rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
  }
  
  .rocker input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch-left,
  .switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
  }
  
  .switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
  }
  
  .switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #bd5757;
    color: #fff;
  }
  
  .switch-left::before,
  .switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
  }
  
  .switch-left::before {
    left: -0.4em;
  }
  
  .switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
  }
  
  .non-selectable {
    user-select: none;
  }
  
  input:checked + .switch-left {
    background-color: #0084d0;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
  }
  
  input:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
  }
  
  input:checked + .switch-left + .switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
  }
  
  input:checked + .switch-left + .switch-right::before {
    background-color: #ccc;
  }
  
  /* Keyboard Users */
  input:focus + .switch-left {
    color: #333;
  }
  
  input:checked:focus + .switch-left {
    color: #fff;
  }
  
  input:focus + .switch-left + .switch-right {
    color: #fff;
  }
  
  input:checked:focus + .switch-left + .switch-right {
    color: #333;
  }
  
/* #endregion */

  /* CSS */
.button-59 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 38px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 110px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.button-59:focus {
    color: #171e29;
  }
  
.button-59:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
.button-59:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
  }
  
@media (min-width: 768px) {
  .button-59 {
      min-width: 150px;
      font-size: 25px;
      height: 48px;
    }
  }



.h2-1 {
    font-family: Inter,sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
    padding-top: 10px;
    margin-bottom: 24px;
  }





  .home-button {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  .home-link {
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .home-link:hover {
    background-color: #ddd;
  }
  




/* #region Headings */

.h1-1 {
  --color-one: #002C54;
  --color-two: #002C54;
  --stretch-multiplier: 5;
  font-size: clamp(2rem, 10vmin, 26rem);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  display: grid;
  line-height: 1;
  margin: 0;
  margin-top: 100px;
  padding: 0;
  color: transparent;
  background: linear-gradient(90deg, var(--color-one), var(--color-two));
  background-clip: text;
  -webkit-background-clip: text;
  animation: stretch var(--stretch-multiplier)s infinite linear;
  text-align: center;

}


.h3-1 {
  --color-one: #002C54;
  --color-two: #002C54;
  --stretch-multiplier: 5;
  font-size: clamp(1rem, 3vmin, 6rem);
  font-family: 'Poppins', sans-serif;

  display: grid;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: transparent;
  background: linear-gradient(90deg, var(--color-one), var(--color-two));
  background-clip: text;
  -webkit-background-clip: text;
  animation: stretch var(--stretch-multiplier)s infinite linear;
  text-align: center;

}



/* Hex codes: #002C54, #C5001A, #FDF6F6 */


/* #endregion */