html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
}
.mid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:1em;
}

body {
  background-color: #FDF6F6;
}


/* slling effects */

/* slide down */
.slide-down-enter {
  transform: translateY(-100%);
  opacity: 0;
}

.slide-down-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.slide-down-exit {
  transform: translateY(0);
  opacity: 1;
}

.slide-down-exit-active {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}


/* slide up */
.slide-up-enter {
  transform: translateY(100%);
  opacity: 0;
}

.slide-up-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.slide-up-exit {
  transform: translateY(0);
  opacity: 1;
}

.slide-up-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}






.main-content {
	text-align: center;
	text-transform: uppercase;
	scroll-snap-type: y mandatory;
	position: relative;
	height: 100vh;
	overflow-y: scroll;
}


/* header */

h1 {
  --color-one: #002C54;
  --color-two: #002C54;
  --stretch-multiplier: 5;
  font-size: clamp(2rem, 12vmin, 6rem);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  display: grid;
  line-height: 1;
  margin: 0;
  margin-top: 100px;
  padding: 0;
  color: transparent;
  background: linear-gradient(90deg, var(--color-one), var(--color-two));
  background-clip: text;
  -webkit-background-clip: text;
  animation: stretch var(--stretch-multiplier)s infinite linear;
  text-align: center;

}


h3 {
  --color-one: #002C54;
  --color-two: #002C54;
  --stretch-multiplier: 5;
  font-size: clamp(1rem, 3vmin, 6rem);
  font-family: 'Poppins', sans-serif;

  display: grid;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: transparent;
  background: linear-gradient(90deg, var(--color-one), var(--color-two));
  background-clip: text;
  -webkit-background-clip: text;
  animation: stretch var(--stretch-multiplier)s infinite linear;
  text-align: center;

}



/* Hex codes: #002C54, #C5001A, #FDF6F6 */



